$colors: (
  textColor1: black,
  textColor2: white,
  textColor3: gray,
  bgColor1: skyblue,
  bgColor2: pink,
);

$border: 2px solid red;

$paddings: (
  padding1: 1vw,
  padding2: 2vw,
  padding3: 3vw,
  padding4: 4vw,
);

$margins: (
  margin1: 1vw,
  margin2: 2vw,
  margin3: 3vw,
  margin4: 4vw,
);

$breakpoints: (
  tablet: 600px,
  laptop: 1024px,
);

@mixin responsive($breakpoint) {
  @if $breakpoint==tablet {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $breakpoint==desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

@function Colors($color) {
  @return map-get($map: $colors, $key: $color);
}

@function Margins($margin) {
  @return map-get($map: $margins, $key: $margin);
}

@function Paddings($padding) {
  @return map-get($map: $paddings, $key: $padding);
}
body {
  background-color: Colors(bgColor2);
}
main {
  background-color: Colors(bgColor2);
  @include responsive(tablet) {
  }
  nav {
    padding: Paddings(padding1);
    // margin-bottom: Margins(margin2);
    border-bottom: 4px solid white;
    display: flex;
    height: 20vh;
    header {
      height: 20vh;
      img {
        height: 20vh;
        width: 30vw;
      }
    }
    .links {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: Colors(textColor2);
      .icon {
        font-size: x-large;
        color: black;
      }
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    .carousel {
      text-align: center;
      .carousel-div {
        padding: Paddings(padding2);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        border-bottom: 4px solid white;
        img {
          margin: Margins(margin2) 0;
          border-radius: 10%;
          width: 30vh;
          background-color: white;
        }
      }
    }
    .products {
      // width: 100%;
      .products-title {
        margin-top: Margins(margin2);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
      }
      .product-items {
        // width: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include responsive(tablet) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include responsive(desktop) {
          grid-template-columns: repeat(6, 1fr);
        }
        list-style: none;
        place-items: center;
        gap: 2vh;
        margin: Margins(margin1);
        .product-item {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          padding: Paddings(padding2) 0;
          text-align: center;
          border: 2px solid lightpink;
          border-radius: 4%;
          &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          }
          .product-image-title {
            img {
              // border-bottom: 3px solid black;
              height: 20vh;
              width: 20vh;
              @include responsive(tablet) {
                height: 30vh;
                width: 30vh;
              }
            }
            .product-title {
              // border-bottom: 3px solid black;
              font-size: smaller;
              font-weight: bold;
            }
          }
          .price {
            font-size: smaller;
            font-weight: bold;
            // border-bottom: 3px solid black;
          }
          .wish-cart {
            margin-top: Margins(margin2);
            padding-bottom: 0;
            // width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .wishlist-div,
            .cart-div {
              width: 50%;
              background-color: transparent;
              border: none;
              .icon {
                font-size: medium;
              }
            }
          }
        }
      }
    }
  }

  .wishlist {
    .wishlist-login {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      text-align: center;

      .wishlist-description {
        margin: Margins(margin3) 0;
      }
      .login {
        padding: Paddings(padding2);
        border: 1px solid lightpink;
        .login-title {
          text-decoration: none !important  ;
          text-transform: uppercase;
          margin-bottom: Margins(margin2);
        }
        img {
          max-width: 100%;
          height: auto;
        }
        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
      }
    }
    .wishlist-grid {
      .wishlist-empty {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-align: center;
        margin: Margins(margin3) 0;
        .wishlist-title {
          margin: Margins(margin3) 0;
        }
        .add-products {
          padding: Paddings(padding2);
          border: 1px solid lightpink;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
              rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          }
          .link {
            width: 100%;
            .products-title {
              text-decoration: none !important  ;
              text-transform: uppercase;
              margin-bottom: Margins(margin2);
            }
            img {
              height: 40vh;
              width: 50vw;
            }
          }
        }
      }
      .wishlist-items {
        padding: Paddings(padding2) 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        place-items: center;
        gap: 2vh;
        margin: Margins(margin1);
        .wishlist-item {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 4%;

          padding: Paddings(padding2);
          border: 2px solid lightpink;
          text-align: center;
          .wishlist-item-title {
            font-size: small;
            font-weight: 600;
          }
          .wishlist-image {
            img {
              height: 20vh;
              width: 20vh;
            }
          }
          .move-to-cart {
            button {
              width: 100%;
              background-color: transparent;
              border: none;
              border-top: 1px solid black;
            }
          }
          .remove {
            button {
              width: 100%;
              background-color: transparent;
              border: none;
              border-top: 1px solid black;
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }
  }

  .cart {
    .cart-login {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      text-align: center;

      .cart-description {
        margin: Margins(margin3) 0;
      }
      .login {
        padding: Paddings(padding2);
        border: 1px solid lightpink;
        .login-title {
          text-decoration-style: none !important  ;
          text-transform: uppercase;
          margin-bottom: Margins(margin2);
        }
        img {
          max-width: 100%;
          height: auto;
        }
        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
      }
    }
    .cart-grid {
      .cart-empty {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-align: center;
        margin: Margins(margin3) 0;
        .cart-title {
          margin: Margins(margin3) 0;
        }
        .add-products {
          padding: Paddings(padding2);
          border: 1px solid lightpink;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
              rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          }
          .link {
            width: 100%;
            .products-title {
              text-decoration: none !important  ;
              text-transform: uppercase;
              margin-bottom: Margins(margin2);
            }
            img {
              height: 40vh;
              width: 50vw;
            }
          }
        }
      }
      .cart-items {
        padding: Paddings(padding2) 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        place-items: center;
        gap: 2vh;
        margin: Margins(margin1);
        .cart-item {
          border-radius: 4%;

          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border: 1px solid lightpink;
          padding: Paddings(padding2);
          text-align: center;
          .cart-item-title {
            font-size: small;
            font-weight: 600;
          }
          .cart-image {
            img {
              height: 20vh;
              width: 20vh;
            }
          }
          .cart-price {
            font-size: medium;
          }
          .count-div {
            width: 100%;
            // border: $border;
            margin: Margins(margin2) 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .item-count {
              font-size: larger;
              // font-weight: 100;
            }
            button {
              border: none;
              background-color: transparent;
              // font-weight: 100;
              font-weight: lighter;
              .icon {
                font-size: small;
              }
            }
          }
        }
      }
    }
    .totalcost {
      text-align: center;
      font-size: large;
      background-color: white;
    }
  }
  .login-panel {
    background-color: white;
    width: 50vw;
    margin: Margins(margin2) auto;
    .login-signup {
      padding: Paddings(padding2);
      display: flex;
      border-radius: 4%;

      font-family: Arial, Helvetica, sans-serif;
      button {
        width: 50vw;
        font-weight: bold;
        border-radius: 4%;
      }
      .active {
        background-color: wheat;
      }
    }
    .main-panel {
      border-top: 2px solid lightpink;
      padding: Paddings(padding2);
      text-align: center;
      .login-form {
        .form {
          .name {
            input :focus {
              border: none;
              border-bottom: blue;
            }
          }
          .password {
            input:focus {
              border: none;
              border-bottom: blue;
            }
          }

          // .password {
          // }
        }
      }
    }
  }
}
