body {
  background-color: pink;
}

main {
  background-color: pink;
}
main nav {
  padding: 1vw;
  border-bottom: 4px solid white;
  display: flex;
  height: 20vh;
}
main nav header {
  height: 20vh;
}
main nav header img {
  height: 20vh;
  width: 30vw;
}
main nav .links {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
main nav .links .icon {
  font-size: x-large;
  color: black;
}
main .home {
  display: flex;
  flex-direction: column;
}
main .home .carousel {
  text-align: center;
}
main .home .carousel .carousel-div {
  padding: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-bottom: 4px solid white;
}
main .home .carousel .carousel-div img {
  margin: 2vw 0;
  border-radius: 10%;
  width: 30vh;
  background-color: white;
}
main .home .products .products-title {
  margin-top: 2vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
main .home .products .product-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  place-items: center;
  gap: 2vh;
  margin: 1vw;
}
@media (min-width: 768px) {
  main .home .products .product-items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  main .home .products .product-items {
    grid-template-columns: repeat(6, 1fr);
  }
}
main .home .products .product-items .product-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2vw 0;
  text-align: center;
  border: 2px solid lightpink;
  border-radius: 4%;
}
main .home .products .product-items .product-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
main .home .products .product-items .product-item .product-image-title img {
  height: 20vh;
  width: 20vh;
}
@media (min-width: 768px) {
  main .home .products .product-items .product-item .product-image-title img {
    height: 30vh;
    width: 30vh;
  }
}
main .home .products .product-items .product-item .product-image-title .product-title {
  font-size: smaller;
  font-weight: bold;
}
main .home .products .product-items .product-item .price {
  font-size: smaller;
  font-weight: bold;
}
main .home .products .product-items .product-item .wish-cart {
  margin-top: 2vw;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .home .products .product-items .product-item .wish-cart .wishlist-div,
main .home .products .product-items .product-item .wish-cart .cart-div {
  width: 50%;
  background-color: transparent;
  border: none;
}
main .home .products .product-items .product-item .wish-cart .wishlist-div .icon,
main .home .products .product-items .product-item .wish-cart .cart-div .icon {
  font-size: medium;
}
main .wishlist .wishlist-login {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}
main .wishlist .wishlist-login .wishlist-description {
  margin: 3vw 0;
}
main .wishlist .wishlist-login .login {
  padding: 2vw;
  border: 1px solid lightpink;
}
main .wishlist .wishlist-login .login .login-title {
  text-decoration: none !important;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
main .wishlist .wishlist-login .login img {
  max-width: 100%;
  height: auto;
}
main .wishlist .wishlist-login .login:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
main .wishlist .wishlist-grid .wishlist-empty {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 3vw 0;
}
main .wishlist .wishlist-grid .wishlist-empty .wishlist-title {
  margin: 3vw 0;
}
main .wishlist .wishlist-grid .wishlist-empty .add-products {
  padding: 2vw;
  border: 1px solid lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .wishlist .wishlist-grid .wishlist-empty .add-products:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
main .wishlist .wishlist-grid .wishlist-empty .add-products .link {
  width: 100%;
}
main .wishlist .wishlist-grid .wishlist-empty .add-products .link .products-title {
  text-decoration: none !important;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
main .wishlist .wishlist-grid .wishlist-empty .add-products .link img {
  height: 40vh;
  width: 50vw;
}
main .wishlist .wishlist-grid .wishlist-items {
  padding: 2vw 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  place-items: center;
  gap: 2vh;
  margin: 1vw;
}
main .wishlist .wishlist-grid .wishlist-items .wishlist-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4%;
  padding: 2vw;
  border: 2px solid lightpink;
  text-align: center;
}
main .wishlist .wishlist-grid .wishlist-items .wishlist-item .wishlist-item-title {
  font-size: small;
  font-weight: 600;
}
main .wishlist .wishlist-grid .wishlist-items .wishlist-item .wishlist-image img {
  height: 20vh;
  width: 20vh;
}
main .wishlist .wishlist-grid .wishlist-items .wishlist-item .move-to-cart button {
  width: 100%;
  background-color: transparent;
  border: none;
  border-top: 1px solid black;
}
main .wishlist .wishlist-grid .wishlist-items .wishlist-item .remove button {
  width: 100%;
  background-color: transparent;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main .cart .cart-login {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}
main .cart .cart-login .cart-description {
  margin: 3vw 0;
}
main .cart .cart-login .login {
  padding: 2vw;
  border: 1px solid lightpink;
}
main .cart .cart-login .login .login-title {
  text-decoration-style: none !important;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
main .cart .cart-login .login img {
  max-width: 100%;
  height: auto;
}
main .cart .cart-login .login:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
main .cart .cart-grid .cart-empty {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 3vw 0;
}
main .cart .cart-grid .cart-empty .cart-title {
  margin: 3vw 0;
}
main .cart .cart-grid .cart-empty .add-products {
  padding: 2vw;
  border: 1px solid lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .cart .cart-grid .cart-empty .add-products:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
main .cart .cart-grid .cart-empty .add-products .link {
  width: 100%;
}
main .cart .cart-grid .cart-empty .add-products .link .products-title {
  text-decoration: none !important;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
main .cart .cart-grid .cart-empty .add-products .link img {
  height: 40vh;
  width: 50vw;
}
main .cart .cart-grid .cart-items {
  padding: 2vw 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  place-items: center;
  gap: 2vh;
  margin: 1vw;
}
main .cart .cart-grid .cart-items .cart-item {
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid lightpink;
  padding: 2vw;
  text-align: center;
}
main .cart .cart-grid .cart-items .cart-item .cart-item-title {
  font-size: small;
  font-weight: 600;
}
main .cart .cart-grid .cart-items .cart-item .cart-image img {
  height: 20vh;
  width: 20vh;
}
main .cart .cart-grid .cart-items .cart-item .cart-price {
  font-size: medium;
}
main .cart .cart-grid .cart-items .cart-item .count-div {
  width: 100%;
  margin: 2vw 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .cart .cart-grid .cart-items .cart-item .count-div .item-count {
  font-size: larger;
}
main .cart .cart-grid .cart-items .cart-item .count-div button {
  border: none;
  background-color: transparent;
  font-weight: lighter;
}
main .cart .cart-grid .cart-items .cart-item .count-div button .icon {
  font-size: small;
}
main .cart .totalcost {
  text-align: center;
  font-size: large;
  background-color: white;
}
main .login-panel {
  border: 2px solid black;
  text-align: center;
  width: 50vw;
  margin: 4vw auto;
  padding: 4vw;
  padding-bottom: 0;
  background-color: rgb(116, 116, 203);
}
main .login-panel .login-signup {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2vw;
}
main .login-panel .login-signup .login,
main .login-panel .login-signup .signup {
  font-weight: 700;
  width: 50%;
  border: transparent;
  transition: 1s;
  border-radius: 10px;
}
main .login-panel .login-signup .active {
  background-color: black;
  color: white;
}
main .login-panel .main-panel {
  padding: 2vw;
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .login-panel .main-panel .form .name,
main .login-panel .main-panel .form .password {
  display: flex;
  flex-direction: column;
}
main .login-panel .main-panel .form .name label,
main .login-panel .main-panel .form .password label {
  display: flex;
  justify-content: start;
}
main .login-panel .main-panel .form .name input,
main .login-panel .main-panel .form .password input {
  background-color: blue;
}
main .login-panel .main-panel .form button {
  margin: 2vw auto;
  border: transparent;
  width: 50%;
  background-color: black;
  color: pink;
  font-weight: 700;
}
main .login-panel .account .details {
  margin: 2vw auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2vw;
}
main .login-panel .account .details .name-div,
main .login-panel .account .details .address-div {
  display: flex;
}
main .login-panel .account .details .name-div .name,
main .login-panel .account .details .name-div .name-icon,
main .login-panel .account .details .name-div .address,
main .login-panel .account .details .name-div .address-icon,
main .login-panel .account .details .address-div .name,
main .login-panel .account .details .address-div .name-icon,
main .login-panel .account .details .address-div .address,
main .login-panel .account .details .address-div .address-icon {
  width: 100%;
  text-align: left;
  font-weight: 700;
}
main .login-panel .account .details .name-div .name-icon,
main .login-panel .account .details .name-div .address-icon,
main .login-panel .account .details .address-div .name-icon,
main .login-panel .account .details .address-div .address-icon {
  width: 30%;
  font-size: larger;
}
main .login-panel .account .logout button {
  margin: 2vw auto;
  border: transparent;
  width: 50%;
  background-color: black;
  color: pink;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */